<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Martial_arts_Cheats</display-name>
<filter>
  	<filter-name>Martial_arts_Cheats_Filter</filter-name>
  	<filter-class>cn.bdqn.liwenyi.Martial_arts_Cheats.Martial_arts_Cheats_Filter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Martial_arts_Cheats_Filter</filter-name>
  	<url-pattern>/Martial_arts_Cheats</url-pattern>
  </filter-mapping>
</web-app>